<!--
  Generated template for the DetalhePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>detalhe</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>

    <img src="assets/img/bjork-live.jpg"/>

    <ion-card-content>
      <ion-card-title>
        {{ pessoa.nome }} ({{ pessoa.apelido }})
      </ion-card-title>
      <p>
        Relação: {{ pessoa.tipo }}
      </p>
    </ion-card-content>
 
    <div *ngFor="let contacto of contactos">
      <ion-item *ngIf="contacto.tipo == 'telefone' ">
          <ion-icon name='call' item-start style="color: #d03e84"></ion-icon>
            {{ contacto.designacao }}
          <ion-badge item-end>{{ contacto.operadora }}</ion-badge>
      </ion-item>
      
      <ion-item *ngIf="contacto.tipo == 'email' ">
        <ion-icon name='logo-google' item-start style="color: #455561"></ion-icon>
          {{ contacto.designacao }}
        <ion-badge item-end>E-mail</ion-badge>

      </ion-item>
      
    </div>
 
  </ion-card>
</ion-content>
